* {
    padding: 0;
    margin: 0;
    min-width: 0;
}

body {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.container {
    margin-top: 12vh;
    display: flex;
    flex-direction: row;
    width: 62%;
    border-radius: 5px;
    overflow: hidden;
}

.sedans {
    padding: 20px;
    background-color: hsl(31, 77%, 52%);
}

.suvs {
    padding: 20px;
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    padding: 20px;
    background-color: hsl(179, 100%, 13%);
}

.container h1 {
    padding: 20px;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.container svg {
    margin: 20px;
}

.paragraph {
    margin: 20px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
}

.more {
    width: 50%;
    height: 10%;
    border: none;
    border-radius: 20px;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: hsl(0, 0%, 95%);
    mix-blend-mode: screen;
    font-family: 'Lexend Deca', sans-serif;
    transition: 0.2s all;
}

.more:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 80%);
    transform: scale(1.05,1.05);
}

@media screen and (max-width: 800px) {
    .container {
        flex-wrap: wrap;
        width: 80%;
        margin-bottom: 15vh;
    }
}